* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('/../swapi-background.jpg');
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

@font-face {
  font-family: 'distant_galaxyregular';
  src: url('/../distgrg_-webfont.woff2') format('woff2'),
       url('/../distgrg_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  text-align: center;
  font-family: 'distant_galaxyregular';
  color: yellow;
  font-size: 100px;
}

#people {
  background: url(/../wookie.png) no-repeat;
  object-fit: cover;
  height: 261px;
  width: 262px;
}
