@font-face {
    font-family: 'distant_galaxyregular';
    src: url('/../distgrg_-webfont.woff2') format('woff2'),
         url('/../distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.Card {
    height: 350px;
    width: 20%;
    border-radius: 15px;
    background-color: lightgrey;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-evenly;
    overflow: scroll;
}

p {
  font-size: 1.8em;
  margin: 10px;
}


.name-and-button {
  display: flex;
  justify-content: center;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  .favorite {
    background: url(/../star.png) no-repeat;
  }

  img {
    height: 35px;
  }

  hr {
    border: 2px solid black;
  }