@font-face {
    font-family: 'distant_galaxyregular';
    src: url('/../distgrg_-webfont.woff2') format('woff2'),
         url('/../distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.Card {
    height: 350px;
    width: 250px;
    border-radius: 15px;
    background-color: lightgrey;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.scrollText {
    background-color: lightgrey;
    height: 300px;
    width: 75%;
    margin: auto;
    opacity: 0.7;
    border-radius: 15px;
    padding: 20px;
}

p {
    font-family: 'distant_galaxyregular'; 
    text-align: center;
    font-size: 32px;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }